@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Display";
}


<div>
    <form method="post">
        <label for="day">Enter day</label>
        <input class="form-control" for="day" type="number" id="day" name="day" placeholder="0-31" />
        <label for="month">Enter month</label>
        <input class="form-control" for="month" type="number" id="month" name="month" placeholder="1-12" />
        <br><br>
        <input href="#"  type="submit" />
        <br><br>
    </form>
</div>


<table class="table border">
    <thread>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Adults)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kids)
            </th>
        </tr>
</thread>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.RoomNr)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Adults)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Kids)
            </td>
        </tr>
    }
    </tbody>
</table>
