@model IEnumerable<Guest>
@{
    ViewData["Title"] = "DisplayGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <form method="post">
        <label for="room">Enter room number</label>
        <input for="room" type="number" id="room" name="roomo" />
        <input  class="form-control" href="#" type="submit" />
    </form>
</div>

<table class="table border">
        <thread>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
        </thread>

    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => item.FName)
            </td>

            <td>
                @Html.DisplayFor(modelitem => item.LName)
            </td>
            <td>
                @Html.DisplayFor(modelitem => item.Age)
            </td>
        </tr>
    }
    </tbody>
</table>